*
{
  box-sizing:  border-box;
}
  body
      {
  font-size: 1px;
  color: black;
  font-size: 1.5em;
  background-color: #e5d4e3;
  font-family: 'italics', sans-serif;
      }

#logo-img {
  background: url('../images/ICON (2).jpg') no-repeat;
  height: 100px;
  width: 100px;
  margin: 0px 30px 0px 30px;
}
#left 
{
  float: right;

}